@import url("https://fonts.googleapis.com/css?family=Amiri|Dancing+Script|Quicksand&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ******************************NavBar************************ */
.navbar {
  background: #fff;
  display: flex;
  justify-content: space-around;
  font-family: "Quicksand", sans-serif;
  align-items: center;
  padding: 10px 0;
  position: fixed;
  z-index: 51;
  width: 90rem;
}

.navbar input[type="text"] {
  width: 70rem;
  height: 2em;
  border-radius: 20px;
  font-size: 24px;
  text-decoration: none;
}

.navbar input:focus {
  outline: none;
}

/* *******************************   Banner   ********************/

.banner-header {
  width: 100%;
  height: 20rem;
  margin: 2rem auto;
  text-align: center;
  position: relative;
  display: inline-block;
}

.banner-header h1 {
  font-family: "Quicksand", sans-serif;
  margin-bottom: 1em;
  z-index: 4;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 44.5%;
  top: 40%;
  color: white;
}

.banner-header h3 {
  font-family: "Quicksand", sans-serif;
  margin-bottom: 1em;
  z-index: 4;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 33%;
  top: 60%;
  color: white;
}

.banner-header h4 {
  font-family: "Quicksand", sans-serif;
  margin-bottom: 1em;
  z-index: 4;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 42.5%;
  top: 70%;
  color: white;
}

.banner-header input {
  margin-bottom: 1em;
  z-index: 4;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 85%;
  height: 3rem;
  width: 60%;
  border-radius: 5px;
}

.banner-image {
  height: 32rem;
  width: 100%;
  object-fit: cover;
}

/* *********************   Images ***************************** */

.image-list {
  max-width: 80rem;
  margin: 2rem auto;
  line-height: 4rem;
  column-count: 3;
  column-gap: 1rem;
}

.image {
  position: relative;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.image:hover {
  filter: brightness(90%);
}

/* *******************  Icons *************************** */
.fa-heart-square {
  z-index: 2;
  position: absolute;
  top: 5%;
  right: 10%;
  transition: all .2s ease-in-out;
  cursor: pointer;
  color: #777777;
  fill: rgb(241, 81, 81);
  font-size: 2rem;
}

.fa-heart-square:hover {
  color: rgba(241, 81, 81, 1);
  transition: all .2s ease-in-out;
}

.user-info-pic {
  z-index: 2;
  position: absolute;
  bottom: 11%;
  left: 5%;
  color: white;
  font-size: 14px;
  text-decoration: none;
  color: #DDDDDD;
  transition: color .2s ease-in-out;
}

.user-info-pic:hover {
  color: #FFFFFF;
  transition: color .2s ease-in-out;
}

.user-info-name {
  z-index: 2;
  position: absolute;
  bottom: 12%;
  left: 15%;
  color: white;
  font-size: 14px;
  text-decoration: none;
  color: #DDDDDD;
  transition: color .2s ease-in-out;
}

.user-info-name:hover {
  color: #FFFFFF;
  transition: color .2s ease-in-out;
}

.fa-arrow-square-down {
  z-index: 2;
  position: absolute;
  bottom: 15%;
  right: 10%;
  height: 2rem;
  width: 2rem;
  border: 1px solid transparent;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
  transition: all .2s ease-in-out;
  border-radius: 5px;
  cursor: pointer;
  color: #000;
  fill: currentColor;
  padding-right: 11px;
  padding-top: 6px;
  font-size: 2rem;
}

.fa-arrow-square-down:hover {
  transition: all .2s ease-in-out;
  color: rgba(241, 81, 81, 1);

}

/* *********************************************************Modal*********************************************************************************** */
.modal {
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 8%;
  z-index: 4;
  background: rgba(0, 0, 0, 0.7);
}

.modalBackground {
  opacity: 0;
  pointer-events: none;
  transition: 0.6s ease-in-out;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 4;
}

.modalShowing-true {
  opacity: 1;
  pointer-events: visible;
}

.modal-page {
  background-color: #fff;
  position: relative;
  border-radius: 5px;
  margin: auto;
  z-index: 4;
  width: 75rem;
  height: 100%;
  overflow: scroll;
  transition: 0.9s ease-in-out;
}

.modal-user {
  position: absolute;
  display: flex;
  top: 1rem;
}

.modal-user-image {
  padding-left: 1rem;
}

.modal-user-name {
  position: absolute;
  left: 4rem;
}

.modal-like-button {
  position: absolute;
  right: 5rem;
  top: 1rem;
}

.modal-download-button {
  position: absolute;
  right: 2rem;
  top: 2.5rem;
}

.modal-image-container {
  height: 80%;
  width: 100%;
  margin: 10px;
  padding: 50px auto;
  margin-top: 3rem;
}

.modal-page img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  align-items: center;
  justify-content: center;
  padding: 50px auto;
  cursor: zoom-in;

}

.modal-text p {
  line-height: 180%;
}

.modal-text button {
  display: block;
  width: 100%;
  text-align: center;
}

/* *************************************************************   Search Page***************************************************************** */
.search-page-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding-top: 4rem;
}

.search-page-image-container {
  max-width: 80rem;
  margin: 2rem auto;
  line-height: 4rem;
  column-count: 3;
  column-gap: 1rem;
  margin-top: 15px;

}


.search-modal-showing-true {
  opacity: 1;
  pointer-events: visible;
}



/* ********************************  Favorites Page **************************** */
.favorites-page {
  /* background-color: thistle; */
}

.favorites-heading-container {
  /* background-color: turquoise; */
  padding-top: 4rem;
  margin: auto;
  width: 20%;
}

.favorites-title {
  /* background-color: darkkhaki; */
  margin: auto;
  width: 70%;
}

.favorites-logo {
  /* background-color: gold; */
  padding-top: .3rem;
  margin: auto;
  width: 30%;
}

.favorites-images-container {
  background-color: hotpink;
  margin: auto;
  height: 10rem;
  width: 50%;
}






@media (max-width: 500px) {
  .modalImage {
    display: none;
  }
}